.vscode
build
test.avi
test.csv
testdata1.csv
testdata2.csv
number_five.csv
number_one.csv
number_two.csv
number_three.csv
numberfour_.csv
tes5.csv
tra5.csv
train.csv
test5.csv
train5.csv
1number
2number
3number
4number
5number
picture
test_number
train_number